.jambotron {
    padding-top: 10px;
}

p > img {
    width: 100%;
    height: auto;
}

.white-color {
    color: white;
}

.text-muted-bright {
    color: #d4d4d4!important;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.mb-0 {
    margin-bottom: 0!important;
}

#title-new {
    margin: 15px 0px;
    font-size: 3rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

#success {
    margin: 15% 0% 15% 0%;
}

.Playfair {
    font-family: "Playfair Display SC"!important;
}

.login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.text-topic {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
}

.text-dark {
    color: #343a40!important;
}

.text-muted-light {
    color: #c8cacc!important;
}

.rounded {
    border-radius: .25rem!important;
}

.blog-header-logo {
    font-family: 'Anton', sans-serif;
    font-size: 2.25rem;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    background-color: transparent;
}

@media(min-width: 767px) {
#info-card {
    padding: 3rem;
    height: 300px;
}
}

#topics {
    margin-bottom: .5rem;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.flex-nowrap {
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
}