{% extends "bootstrap/base.html" %} {% block title %}Flasky{% endblock %} {% block head %} {{super()}} {% endblock head %}
{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Anton|Oswald|Playfair+Display|Poppins|Titillium+Web" rel="stylesheet">
<link rel="stylesheet" href={{url_for('.static', filename='css/style.css')}}  type="text/css"/>
{% endblock styles %}
{% block navbar %}
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 text-muted">
                <a class="text-muted" href="#" style="margin-left:0.5rem">Subscribe</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">SkyBlog</a>
            </div>
            <div class="col-4"></div>
        </div>
    </header>
    <nav class="nav row text-center" id="topics">
            <a class="text-topic text-muted col" href="/index">Posts</a>
            <a class="text-topic text-muted col" href="/topics">Topics</a>
            <a class="text-topic text-muted col" href="/links">Links</a>
            <a class="text-topic text-muted col" href="/about">About me</a>
    </nav>
</div>
{% endblock navbar %} 
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}
{% endblock %}