{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <span class="border border-primary centre">
            <h1>Hello, {{name}}</h1>
        </span>
        <span class="border border-primary">1</span>
        <span class="border border-secondary">2</span>
        <span class="border border-success">3</span>
        <span class="border border-danger">4</span>
        <span class="border border-warning">5</span>
        <span class="border border-info">6</span>
        <span class="border border-light">7</span>
        <span class="border border-dark">8</span>
        <span class="border border-white">9</span>
    </div>
</div>
{% endblock content %}