{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="layout">
    <h1>Here are list of useful links</h1>
    <br>
    <ul>
        <li>
            <h5>This project on GitHub <span><img width="20px" height="20px" src="static/images/github.svg"></span></h5>
            <p>
                You can discover <a href="https://github.com/SkymanOne/SkyBlog">this project</a> on GitHub
            </p>
        </li>
        <li>
            <h5>My Telegram Channel <span><img width="30px" height="30px" src="static/images/telegram.png"></span></h5>
            <p>
                Look for my updates on my <a href="https://t.me/SkyMenDev">channel</a>
            </p>
        </li>
        <li>
            <h5>My email to contact with me <span><img width="20px" height="20px" src="static/images/gmail.png"></span></h5>
            <p>
                I am always ready for any collobrations connected to IT (Python3, C# and Java) 
                <br>
                <a href="mailto:german.nikolishin@gmail.com">Write me something</a>
            </p>
        </li>
    </ul>
    </div>
</div>
{% endblock content %}