{% extends "base.html" %} {% block content %}
<section class="text-center">
    <form action="" method="post" class="login-form">
        {{ form.hidden_tag() }}
        <h1>Login</h1>
        <p>
            {{ form.login.label }}
            <br> {{ form.login(size=32) }}
            <br>    {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            <br> {{ form.password(size=32) }}
            <br>    {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
</section>
{% endblock content %}