{% extends "base.html" %}
{% block content %}
<div class="container">
    <div style="margin-bottom: 10px;" class="layout">
        <h2>Posts related to <span style="color:#1B5E20;">{{topic}}</span> :</h2>
    </div>
    <div class="row">
        {%for p in posts%}
        <div class="col-md-6">
            <div class="jumbotron info-card">
                <h3 class="Playfair">
                    <strong>{{p.title}} </strong>
                </h3>
                <div class="text-muted">{{ p.time.date() | datetime}}</div>
                {{p.short | safe}}
                <hr class="white-color">
                <a class="btn btn-info btn-lg" href=" {{  url_for('post_page', url=p.url) }} " role="button">Read
                    more...</a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock content %}